h1 {
    color: cadetblue;
    font-size: 50px;
    text-decoration: line-through;
    font-family:Arial;
    text-align: center;
}
.paragraph {
    color: aquamarine;  
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
ul {
    color: darkgrey;
    text-align: center;
    border: 4px solid black;
}
li {
    list-style-position:inside;
    text-shadow: 2px 2px lightgray;
}
#header-image {
    width: 20rem;
    height: auto;
}
